@model SW.InternalWeb.Models.NewCustomer.PhoneNumberViewModel
@using SW.InternalWeb.Extensions
@inject SW.InternalWeb.Services.PhoneTypeSelectItemsService phoneTypeService
@{
    ViewBag.Title = "New Customer";
    ViewBag.faTitleClass = "user-plus";
    ViewBag.ATitle = "New Customer : Phone Number";

    var phoneTypes = await phoneTypeService.Get();
}

<div id="crumbs">
    <ul class="v-bottom">
        <li class=""><a>Customer Information</a></li>
        <li class=""><a>Billing Address</a></li>
        <li class="active">@Html.ActionLink("Phone Number", "CustomerPhoneNumber")</li>
        <li class=""><a>Email</a></li>
        <li class=""><a>Service Address</a></li>
        <li class=""><a>Summary</a></li>
    </ul>
    <div class="panel panel-default">
        <div class="panel-body default-click-parent">
            @using (Html.BeginForm("CustomerPhoneNumber", "NewCustomer", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.Type, new { @class = "control-label font-bold" })
                            </div>
                            <div class="col-md-9">
                                <select asp-for="Type" asp-items="phoneTypes" class="form-control"></select>
                                @Html.ValidationMessageFor(model => model.Type, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label font-bold" }) *
                            </div>
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", @mask = "phone" })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                (* Denotes Required Field)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                    </div>
                    <div class="col-md-12">
                        <input type="submit" value="Previous" class="btn btn-primary btn-s-xs" name="Previous" data-form-action="@Url.Action("CustomerPhoneNumber_Prev", "NewCustomer")" />
                        <button type="submit" class="btn btn-primary btn-s-xs default-click">Next</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('[mask="phone"]').mask("(999) 999-9999");
            $(".default-click-parent input").keypress(function ($event) {
                if ($event.which == 13) {
                    $event.preventDefault();
                    $(this).closest(".default-click-parent").find(".default-click").click();
                }
            });
        });
    </script>
}
