@model SW.ExternalWeb.Models.Cancel.CancelEmailViewModel
<html>
<body>
    <p>A change has been made to your solid waste account.  If the changes listed below are not accurate please contact the Solid Waste Department at 785-233-4774.</p>
    <table>
        <tr>
            <td>Account Name</td>
            <td>@Model.Person.FullName</td>
        </tr>
        <tr>
            <td>Account Number</td>
            <td>@string.Format("{0}{1:000000}", Model.Customer.CustomerType, Model.Customer.CustomerId)</td>
        </tr>
        <tr>
            <td>Billing Address</td>
            <td>@Model.Address.Number @Model.Address.Direction @Model.Address.StreetName @Model.Address.Suffix @Model.Address.Apt<br />@Model.Address.City @Model.Address.State @Model.Address.Zip</td>
        </tr>
    </table>
    <p>The service address @Model.ServiceAddress.PEAddress.Number @Model.ServiceAddress.PEAddress.Direction @Model.ServiceAddress.PEAddress.StreetName @Model.ServiceAddress.PEAddress.Suffix @Model.ServiceAddress.PEAddress.Apt will be canceled on @string.Format("{0:d}", Model.ServiceAddress.CancelDate.Value).  The following containers are scheduled to be picked up on the cancel date.</p>
    <table>
        @foreach (var c in Model.Containers)
        {
            <tr>
                <td>
                    @c.ContainerCode.Description
                    @c.ContainerSubtype.Description
                    @c.ActualSize
                    @(c.MonService ? "M" : ".")
                    @(c.TueService ? "T" : ".")
                    @(c.WedService ? "W" : ".")
                    @(c.ThuService ? "T" : ".")
                    @(c.FriService ? "F" : ".")
                    @(c.SatService ? "S" : ".")
                </td>
            </tr>
        }
    </table>
    <p>Thank you for using the Shawnee County Solid Waste website.</p>
</body>
</html>
