@model IEnumerable<SW.InternalWeb.Models.ContainerCodes.ContainerCodeListViewModel>
@{
    ViewBag.ATitle = "Container Code Maintenance";
}

<table id="ContainerCodeList" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Action</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Type)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Description)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            @* @Html.HiddenFor(model => model[i].ContainerCodeID) *@
            <tr>
                <td>
                    <a href="@Url.Action("Edit", "ContainerCode", new { id = item.ContainerCodeID })" title="Edit"><i class="fa fa-pencil-square fa-2x"></i></a>
                    &nbsp;
                    <a href="@Url.Action("Delete", "ContainerCode", new { id = item.ContainerCodeID })" title="Remove"><i class="fa fa-minus-square fa-2x"></i></a>
                </td>
                <td>
                    @Html.DisplayFor(model => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Description)
                </td>
            </tr>
            
        }
    </tbody>
</table>

<a asp-action="Add" class="btn btn-success">Add New Container Code</a>

<br />
<br />

<br />
<br />

@* 
@section head
{
    @Styles.Render("~/Content/DataTables/css/datatables")
}
*@

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            table = $('#ContainerCodeList').dataTable({
                "order": [[1, "asc"]],
                stateSave: true
            });
        });
    </script>
}
