@model SW.InternalWeb.Models.PendingWork.PendingWorkViewModel
@using SW.InternalWeb.Extensions

<div class="panel">
    <div class="panel-body">
        <table id="PendingWork" class="table table-striped" style="table-layout: fixed; width: 932px">
            <thead>
                <tr>
                    <th class="col-md-1">Action</th>
                    <th class="col-md-1">Submit Date</th>
                    <th class="col-md-1">Customer ID</th>
                    <th class="col-md-3">Transaction Code</th>
                    <th class="col-md-1">Transaction Amt</th>
                    <th class="col-md-2">Submitted By</th>
                    <th class="col-md-2">Status</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.TransactionHoldings.Count(); i++)
                {
                    var tran = Model.TransactionHoldings[i];

                    if (tran.Comment != null)
                    {
                        string emptycommentcheck = tran.Comment.Trim();
                        string sort = string.Empty;
                        if (emptycommentcheck == "")
                        {
                            <tr>
                                <td>
                                    @if (tran.Status == "Awaiting Payment")
                                    {
                                        <div hidden>1</div>
                                        <a href="@Url.Action("Payment", "Transaction", new { customerID = tran.CustomerID, transactionHoldingID = tran.TransactionHoldingId, })" title="Apply Payment"><i class="fa fa-lg fa-credit-card"></i></a>
                                        <text>&nbsp;</text>
                                        <a href="@Url.Action("ForceResolve", "PendingWork", new { transactionHoldingID = tran.TransactionHoldingId })" title="Force Resolve"><i class="fa fa-lg fa-check-square"></i></a>
                                    }
                                    @if (tran.Status == "Awaiting Verification")
                                    {
                                        <div hidden>2</div>
                                        <a href="#modal-form-reject-@i" title="Reject Transaction" data-toggle="modal"><i class="fa fa-lg fa-thumbs-o-down"></i></a>
                                        <text>&nbsp;</text>
                                        <a class="thumbs_up" href="@Url.Action("ApproveTransaction", "PendingWork", new { transactionHoldingID = tran.TransactionHoldingId })" title="Approve Transaction" data-confirm2="Confirm approval?"><i class="fa fa-lg fa-thumbs-o-up"></i></a>
                                    }
                                    else
                                    {
                                        <div hidden>3</div>
                                    }
                                </td>
                                <td>@tran.AddDateTime?.ToShortDateString()</td>
                                <td>@tran.CustomerID</td>
                                <td>@tran.TransactionCode</td>
                                <td>@tran.TransactionAmt</td>
                                <td>@tran.Sender</td>
                                <td>@tran.Status</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>
                                    @if (tran.Status == "Awaiting Payment")
                                    {
                                        <div hidden>1</div>
                                        <a href="@Url.Action("Payment", "Transaction", new { customerID = tran.CustomerID, transactionHoldingID = tran.TransactionHoldingId, })" title="Apply Payment"><i class="fa fa-lg fa-credit-card"></i></a>
                                        <text>&nbsp;</text>
                                        <a href="@Url.Action("ForceResolve", "PendingWork", new { transactionHoldingID = tran.TransactionHoldingId })" title="Force Resolve"><i class="fa fa-lg fa-check-square"></i></a>

                                    }
                                    @if (tran.Status == "Awaiting Verification")
                                    {
                                        <div hidden>2</div>
                                        <a href="#modal-form-reject-@i" title="Reject Transaction" data-toggle="modal"><i class="fa fa-lg fa-thumbs-o-down"></i></a>
                                        <text>&nbsp;</text>
                                        <a class="thumbs_up" href="@Url.Action("ApproveTransaction", "PendingWork", new { transactionHoldingID = tran.TransactionHoldingId })" title="Approve Transaction" data-confirm2="Confirm approval?"><i class="fa fa-lg fa-thumbs-o-up"></i></a>

                                    }
                                    @if (tran.Status != "Awaiting Verification" && tran.Status != "Awaiting Payment")
                                    {
                                        <div hidden>3</div>
                                    }
                                </td>
                                <td>@tran.AddDateTime?.ToShortDateString()</td>
                                <td>
                                    @tran.CustomerID
                                    <div style="margin-top: 5px; margin-left: 0px; white-space: nowrap; color: steelblue">
                                        Notes:&nbsp;&nbsp;@tran.Comment
                                    </div>
                                </td>
                                <td style="max-width: 100px; overflow:hidden; white-space:nowrap;text-overflow:ellipsis;">@tran.TransactionCode</td>
                                <td>@tran.TransactionAmt</td>
                                <td style="max-width: 100px; overflow:hidden; white-space:nowrap;text-overflow:ellipsis;">@tran.Sender</td>
                                <td>@tran.Status</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@for (int i = 0; i < Model.TransactionHoldings.Count(); i++)
{
    var tran = Model.TransactionHoldings[i];
    if (tran.Status == "Awaiting Verification")
    {
        using (Html.BeginForm("RejectTransaction", "PendingWork", FormMethod.Post, new { @role = "form" }))
        {
            <div class="modal fade" id="modal-form-reject-@i">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="row">
                                <div class="col-md-10">
                                    <h4 class="modal-title">Reject Transaction</h4>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div hidden>
                                <input type="text" id="TransactionHoldingID_@i" name="TransactionHoldingID" value="@Model.TransactionHoldings[i].TransactionHoldingId" />
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="Comment" class="control-label font-bold">Reason</label>
                                    <input class="form-control" type="text" id="Comment_@i" name="Comment" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer text-left">
                            <div class="row">
                                <div class="col-md-3">
                                    <input type="submit" class="btn btn-block btn-primary" value="Reject" />
                                </div>
                                <div class="col-md-3">
                                    <input type="button" class="btn btn-block btn-default" data-dismiss="modal" value="Close" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
