@model SW.ExternalWeb.Models.Manage.BusinessProfileViewModel
@{
    ViewBag.Title = "Manage Your Profile";
}

@using (Html.BeginForm("BusinessProfile", "Manage", FormMethod.Post, new { @role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
            <div class="row form-group">
                <div class="col-xs-12">
                    <h2>Manage Profile</h2>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-12">
                    <label class="content-label">Account Information</label>
                    <div class="inner box-grey">
                        <strong>Created: </strong>
                        @Model.WhenCreated.ToShortDateString()
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-12">
                    @Html.LabelFor(m => m.Name, new { @class = "content-label" })
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Business Name" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-12">
                    @Html.LabelFor(m => m.Url, new { @class = "content-label" })
                    @Html.TextBoxFor(m => m.Url, new { @class = "form-control", @placeholder = "Web URL" })
                    @Html.ValidationMessageFor(m => m.Url)
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-6">
                    <input class="btn btn-block btn-default btn-lg" type="button" value="Cancel" redirect="@Url.Action("Index", "Manage")" />
                </div>
                <div class="col-xs-6">
                    <input class="btn btn-block btn-primary btn-lg" type="submit" value="Save" data-form-action="@Url.Action("BusinessProfile", "Manage")" />
                </div>
            </div>
        </div>
    </div>
}
