@model ICollection<Common.Services.AddressValidation.ValidAddress>
@{
    ViewData["Title"] = "Address Validation Test";
    var count = Model?.Count ?? 0;
}

<table>
    <caption>Found @count candidates</caption>
    <thead>
        <tr>
            <td>Address</td>
            <td>Score</td>
        </tr>
    </thead>
    @if(count > 0)
    {
        <tbody>
            @foreach(var c in Model)
            {
                <tr>
                    <td>@c.Address<br/>@c.City, @c.State @c.Zip</td>
                    <td>@c.Score</td>
                </tr>
            }
        </tbody>
    }
</table>

<p><a asp-action="Index">Back</a></p>
