@model SW.ExternalWeb.Models.Account.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Code)
    @Html.HiddenFor(m => m.UserId)
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
            <div class="row form-group">
                <div class="col-xs-12">
                    <h2>Reset your password</h2>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-12">
                    @Html.LabelFor(m => m.Password, new { @class = "content-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-12">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "content-label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-12">
                    <input type="submit" class="btn btn-primary btn-block btn-lg" /> 
                </div>
            </div>
        </div>
    </div>
}

@* jQuery validation *@
