@model SW.ExternalWeb.Models.Account.EmailConfirmationViewModel
@{
    ViewBag.Title = "Resend Email Confirmation";
}
<h2>Resend Email Confirmation</h2>

@using (Html.BeginForm("ResendEmailConfirmation", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6 col-xs-12">
            @*<div class="row form-group">
                    <div class="col-xs-12">
                        <h2>Create a new account</h2>
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                    </div>
                </div>*@
            <div class="row form-group">
                <div class="col-xs-12">
                    @Html.LabelFor(m => m.Email, new { @class = "content-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-12">
                    <input type="submit" class="btn btn-primary btn-block btn-lg" value="Resend Email Confirmation" />
                </div>
            </div>
        </div>
    </div>
}

@* jQuery validation *@
