@model List<SW.InternalWeb.Models.RouteType.RouteTypeListViewModel>

<table id="RouteTypeList" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Action</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().RouteNumber)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Type)</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            @Html.HiddenFor(model => model[i].RouteTypeID)
            <tr>
                <td>
                    <a href="@Url.Action("Edit", "RouteType", new { id = Model[i].RouteTypeID })" title="Edit"><i class="fa fa-pencil-square fa-2x"></i></a>
                    &nbsp;
                    <a href="@Url.Action("Delete", "RouteType", new { id = Model[i].RouteTypeID })" title="Remove"><i class="fa fa-minus-square fa-2x"></i></a>
                </td>
                <td>
                    @Html.DisplayFor(model => model[i].RouteNumber)
                </td>
                <td>
                    @Html.DisplayFor(model => model[i].Type)
                </td>
            </tr>
        }
    </tbody>
</table>


@Html.ActionLink("Add New Route Type", "Add", null, null, new { @class = "btn btn-success" })

<br />
<br />
