@if (ViewData.ModelState["success"] != null && ViewData.ModelState["success"].Errors.Any())
{
<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <ul>
            @foreach (var m in ViewData.ModelState["success"].Errors)
            {
                <li><i class="fa fa-ban-circle text-danger"></i><strong>@m.ErrorMessage</strong></li>
            }
            </ul>
        </div>
    </div>
</div>
}

@if (ViewData.ModelState["warning"] != null && ViewData.ModelState["warning"].Errors.Any())
{
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <ul>
                @foreach (var m in ViewData.ModelState["warning"].Errors)
                {
                    <li><i class="fa fa-ban-circle text-danger"></i><strong>@m.ErrorMessage</strong></li>
                }
                </ul>
            </div>
        </div>
    </div>
}

@if (ViewData.ModelState["info"] != null && ViewData.ModelState["info"].Errors.Any())
{
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <ul>
                @foreach (var m in ViewData.ModelState["info"].Errors)
                {
                    <li><i class="fa fa-ban-circle text-danger"></i><strong>@m.ErrorMessage</strong></li>
                }
                </ul>
            </div>
        </div>
    </div>
}

@if (ViewData.ModelState["danger"] != null && ViewData.ModelState["danger"].Errors.Any())
{
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <ul>
                @foreach (var m in ViewData.ModelState["danger"].Errors)
                {
                    <li><i class="fa fa-ban-circle text-danger"></i><strong>@m.ErrorMessage</strong></li>
                }
                </ul>
            </div>
        </div>
    </div>
}

@if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Any())
{
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <ul>
                @foreach (var m in ViewData.ModelState[""].Errors)
                {
                    <li><i class="fa fa-ban-circle text-danger"></i><strong>@m.ErrorMessage</strong></li>
                }
                </ul>
            </div>
        </div>
    </div>
}
