@model SW.InternalWeb.Models.WorkOrderInquiry.WorkOrderInquiryViewModel
@{
    ViewBag.Title = "Search Results";
    ViewBag.ATitle = "Search Results Work Orders";
}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <table id="Results" class="table table-condensed table-bordered">
                    <thead>
                        <tr class="bg-dark">
                            <th>Action</th>
                            @*<th>Origin</th>*@
                            <th>@Html.DisplayNameFor(m => m.CustomerName) / @Html.DisplayNameFor(m => m.CustomerAddress)</th>
                            <th>@Html.DisplayNameFor(m => m.ContainerRoute)</th>
                            <th>@Html.DisplayNameFor(m => m.TransDate)</th>
                            <th>@Html.DisplayNameFor(m => m.DriverInitials)</th>
                            <th>@Html.DisplayNameFor(m => m.WorkOrderId)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Results.Count(); i++)
                        {
                            var item = Model.Results.ElementAt(i);
                            @*string rowBG;
                            if (item.ResolveDate != null)
                            {
                                rowBG = "alert-info";
                            }
                            else
                            {
                                rowBG = "alert-success";
                            }
                            <tr class="@rowBG">*@
                            <tr>
                                <td class="v-middle text-center">
                                    <button type="button" class="btn btn-block btn-sm btn-primary" onclick="location.href='@Url.Action("Index", "WorkOrder", new { workOrderId = item.WorkOrderId })'">View</button>
                                </td>
                                @*<td class="v-middle text-center">
                                    @if (item.ResolveDate != null)
                                    {
                                        <p>WorkOrder Closed</p>
                                    }
                                    else
                                    {
                                        <p>WorkOrder</p>
                                    }
                                </td>*@
                                <td>
                                    <strong class="margin-bottom-5" style="display:block;">@Html.DisplayFor(m => item.CustomerName)</strong>
                                    @Html.DisplayFor(m => item.CustomerAddress)
                                </td>
                                <td>@Html.DisplayFor(m => item.ContainerRoute)</td>
                                <td>
                                    @if (item.TransDate != null)
                                    {
                                        @item.TransDate.Value.ToShortDateString()
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(m => item.TransDate)
                                    }
                                </td>
                                <td>@Html.DisplayFor(m => item.DriverInitials)</td>
                                <td>@Html.DisplayFor(m => item.WorkOrderId)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#Results').dataTable({
                "dom": '<"row"<"col-xs-6"l><"col-xs-6"f>><"row"<"col-xs-12 col-xs-margin-top-5"<"table-scrolling"t>>>r<"row"<"col-xs-5"i><"col-xs-7"p>>',
                'order' : [[1, 'asc']]
            });
        });
    </script>
}
