@model List<SW.DM.Transaction>
@{
    ViewBag.Title = "Collections";
    ViewBag.ATitle = "Collections";
}

<div class="panel panel-default">
    <div class="panel-body">
        <table id="results" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>Name</th>
                    <th>Collections</th>
                    <th>Counselors</th>
                    <th>Uncollectable</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="inquiryresultsrecord">
                        <td>@Html.ActionLink(item.CustomerId.ToString(), "Payment", new { customerId = item.CustomerId }, new { @class = "btn btn-sm btn-primary" })</td>
                        <td>@item.Customer.PersonEntity.FullName</td>
                        <td>@string.Format("{0:c}", item.CollectionsBalance)</td>
                        <td>@string.Format("{0:c}", item.CounselorsBalance)</td>
                        <td>@string.Format("{0:c}", item.UncollectableBalance)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#results").DataTable({
                "dom": '<"row"<"col-xs-6"l><"col-xs-6"f>><"row"<"col-xs-12 col-xs-margin-top-5"<"table-scrolling"t>>>r<"row"<"col-xs-5"i><"col-xs-7"p>>',
                "order": [[0, "asc"]]
            });
        });
    </script>
}
