@model SW.InternalWeb.Models.Notify.DetailViewModel

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">@Html.DisplayNameFor(m => m.From)</div>
            <div class="col-md-10">@Html.DisplayFor(m => m.From)</div>
        </div>
        <div class="row">
            <div class="col-md-2">@Html.DisplayNameFor(m => m.To)</div>
            <div class="col-md-10">@Html.DisplayFor(m => m.To)</div>
        </div>
        <div class="row">
            <div class="col-md-2">@Html.DisplayNameFor(m => m.Subject)</div>
            <div class="col-md-10">@Html.DisplayFor(m => m.Subject)</div>
        </div>
        <div class="row">
            <div class="col-md-2">@Html.DisplayNameFor(m => m.AddDateTime)</div>
            <div class="col-md-10">@Html.DisplayFor(m => m.AddDateTime)</div>
        </div>
        <div class="row">
            <div class="col-md-12"><hr /></div>
        </div>
        <div class="row">
            <div class="col-md-2">@Html.DisplayNameFor(m => m.Body)</div>
            <div class="col-md-10">@Html.Raw(Model?.Body)</div>
        </div>
        <div class="row">
            <div class="col-md-12"><hr /></div>
        </div>
        <div class="row">
            <div class="col-md-2">@Html.DisplayNameFor(m => m.Url)</div>
            <div class="col-md-10"><a href="@Html.DisplayFor(m => m.Url)">@Html.DisplayFor(m => m.Url)</a></div>
        </div>
    </div>
</div>
