@model SW.InternalWeb.Models.CustomerBillingAddress.CustomerBillingAddressViewModel
@{
    ViewBag.faTitleClass = "wrench";
    ViewBag.ATitle = "Customer Maintenance : Account#" + Model.CustomerId;
    var index = 0;
}

<div id="crumbs">
    <ul class="v-bottom">
        <li class=""><a href="@Url.Action("Index", "Customer", new { customerID = Model.CustomerId })">Customer Information</a></li>
        <li class="active"><a href="@Url.Action("Index", "CustomerBillingAddress", new { customerID = Model.CustomerId })">Billing Address</a></li>
        <li class=""><a href="@Url.Action("Index", "CustomerPhoneNumber", new { customerID = Model.CustomerId })">Phone Number</a></li>
        <li class=""><a href="@Url.Action("Index", "CustomerEmail", new { customerID = Model.CustomerId })">Email</a></li>
        <li class=""><a href="@Url.Action("Index", "CustomerServiceAddress", new { customerID = Model.CustomerId })">Service Address</a></li>
        <li class=""><a href="@Url.Action("Index", "CustomerTransactionHistory", new { customerID = Model.CustomerId })">Transaction History</a></li>
    </ul>
    <div class="panel panel-default">
        <div class="panel-body">
            
            <form asp-action="SelectBillingAddress"
                  asp-controller="CustomerBillingAddress"
                  method="post"
                  class="form-horizontal">

                @if (Model.Addresses != null)
                {
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.AddressLine1)
                    @Html.HiddenFor(m => m.AddressLine2)
                    @Html.HiddenFor(m => m.City)
                    @Html.HiddenFor(m => m.State)
                    @Html.HiddenFor(m => m.Zip)
                    @Html.HiddenFor(m => m.CustomerId)
                    @Html.HiddenFor(m => m.Undeliverable)
                    <div class="row">
                        <div class="col-md-6">
                            <select name="SelectIndex" class="form-control">
                                @foreach (var address in Model.Addresses)
                                {
                                    <option value="@index">@address.AddressLine1 @address.AddressLine2 @address.City @address.State @address.Zip</option>
                                    index++;
                                }
                            </select>
                        </div>
                        <div class="col-md-2">
                            <input type="submit" class="btn btn-block btn-primary" value="Select Address" data-form-action="@Url.Action("SelectBillingAddress", "CustomerBillingAddress")" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <hr />
                        </div>
                    </div>
                }
            </form>

            <form asp-action="Index"
                  asp-controller="CustomerBillingAddress"
                  method="post"
                  class="form-horizontal">

                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.CustomerId)

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.AddressLine1, new { @class = "font-bold" }) *
                                @Html.TextBoxFor(m => m.AddressLine1, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.AddressLine2, new { @class = "font-bold" })
                                @Html.TextBoxFor(m => m.AddressLine2, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-7">
                                @Html.LabelFor(m => m.City, new { @class = "font-bold" }) *
                                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                            </div>
                            <div class="col-md-2">
                                @Html.LabelFor(m => m.State, new { @class = "font-bold" }) *
                                @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
                            </div>
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.Zip, new { @class = "font-bold" })
                                @Html.TextBoxFor(m => m.Zip, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.CheckBoxFor(m => m.Override, new { @class = "checkbox-inline" })
                                @Html.LabelFor(m => m.Override, new { @class = "font-bold" })
                                (Bypass address validation)
                            </div>
                            <div class="col-md-6">
                                <label class="font-bold">
                                    Bad Address (
                                    <input name="@Html.NameFor(model=> Model.Undeliverable)" value="true" @(Model.Undeliverable.GetValueOrDefault(false) ? "checked=\"checked\"" : "") type="checkbox" class="checkbox-inline" />
                                    Check if Undeliverable )
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                (* Denotes Required Field)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <hr />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4">
                                @Html.HiddenFor(m => m.Id)
                                <button class="btn btn-danger btn-block" type="submit" data-form-action="@Url.Action("Index", "CustomerBillingAddress")">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<br />
<br />
