@model SW.InternalWeb.Models.CustomerServiceAddress.ServiceAddressMasterViewModel
@using SW.InternalWeb.Extensions

@Html.HiddenFor(m => m.Note.Id)
@Html.HiddenFor(m => m.NoteCount)
@Html.HiddenFor(m => m.NoteIndex)

<div class="row">
    @if (Model.Note.Id > 0)
    {
        <div class="col-md-6 control-label font-bold">Displaying @Model.NoteIndex of @Model.NoteCount notes</div>
    }
    else
    {
        <div class="col-md-6 control-label font-bold">New Note</div>
    }
    <div class="col-md-6 text-right">
        <button class="btn btn-sm btn-dark ajax-button" type="submit" data-form-action="@Url.Action("PreviousNote", "CustomerServiceAddress")">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </button>
        &nbsp;
        <button class="btn btn-sm btn-dark ajax-button" type="submit" data-form-action="@Url.Action("NextNote", "CustomerServiceAddress")">
            <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr class="margin-vertical-15" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @if (Model.Note.Id > 0)
        {
            <div class="row">
                <div class="col-md-6 font-bold">
                    @Html.HiddenFor(m => m.Note.AddDateTime)
                    @Model.Note.AddDateTime
                </div>
                <div class="col-md-6 text-right font-bold">
                    @Html.HiddenFor(m => m.Note.AddToi)
                    @Model.Note.AddToi
                </div>
            </div>
            <div>
                @Html.HiddenFor(m => m.Note.Note)
                @Model.Note.Note.FormatMultiLine()
            </div>
        }
        else
        {
            @Html.TextAreaFor(m => m.Note.Note, new { @class = "form-control note-group", rows = 3 })
            @Html.ValidationMessageFor(m => m.Note.Note)
        }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr class="margin-vertical-15" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @if (Model.Note.Id > 0)
        {
            <button type="submit" class="btn btn-info btn-s-xs ajax-button" data-form-action="@Url.Action("ClearNote", "CustomerServiceAddress")">New Note</button>


            @*if (Model.ServiceAddress.CancelDate == null || Model.ServiceAddress.CancelDate > DateTime.Today.Date)
        {

        }
        else
        {
        <button type="submit" class="btn btn-info btn-s-xs ajax-button disabled" data-form-action="@Url.Action("ClearNote", "CustomerServiceAddress")">New Note</button>
        }*@
        }
        else
        {
            <button type="submit" class="btn btn-danger btn-s-xs ajax-button" data-form-action="@Url.Action("AddNote", "CustomerServiceAddress")" data-form-group="note-group">Add Note</button>

            @*if (Model.ServiceAddress.CancelDate == null || Model.ServiceAddress.CancelDate > DateTime.Today.Date)
        {

        }
        else
        {
        <button type="submit" class="btn btn-danger btn-s-xs ajax-button disabled" data-form-action="@Url.Action("AddNote", "CustomerServiceAddress")" data-form-group="note-group">Add Note</button>
        }*@
        }
    </div>
</div>
